services:
  - type: web
    name: events-activities-api
    env: node
    region: oregon
    plan: free
    rootDir: events-activites-server
    buildCommand: npm ci && npx prisma generate --schema=./prisma/schema && npm run build && npx prisma migrate deploy --schema=./prisma/schema
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: STRIPE_WEBHOOK_SECRET
        sync: false
